# Dependencies
node_modules/
*/node_modules/

# Package lock files (optional)
package-lock.json
*/package-lock.json

# Environment and security files
.env
*/.env
*.env
serviceAccountKey.json
*/serviceAccountKey.json
fullchain.pem
privkey.pem

# Build files
/dist/
/build/
/.netlify/
*/functions-internal/

# Project specific folders
my-cv/
/images/

# Netlify
.netlify/
netlify.toml

# System files
.DS_Store
Thumbs.db